/*
  --------------
  FORM
  --------------

  Arquivo destinado para estilos padrões de formulários.
*/



/* ------- FORM ------- */

/* form contato banner */
.form-header {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

  .form-header__opened {
    margin-top: 25px;
    max-height: 600px;
  }

  .form-header__label {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }

    .form-header__label--input {
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
      padding: 0 10px;
      border-radius: 0;
      border: none;
    }

    .form-header__button {
      @extend %btn--acao;
      position: relative;
      display: block;
      width: 100%;
      padding-left: 40px;
      text-align: left;
      line-height: 20px;
    }

      .form-header__button-icon--envelope {
        @include sprite($icone-envelope);
        position: absolute;
        right: 47px;
      }

      .form-header__button-icon--chat {
        @include sprite($icone-baloes);
        position: absolute;
        right: 89px;
      }


.form-footer {}

    .form-footer__element-group {
      position: relative;
      display: inline;
    }

    .form-footer__element-group--label {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      transition: all 1s linear;
      visibility: hidden;
    }

    input:focus + label {
      color: #000;
      transform: translateY(-50%);
    }

    .form-footer__element-group--input {
      width: 200px;
      height: 40px;
      border: none;
      padding: 0 10px;
    }

  .form-footer__button {
    @extend %btn--acao;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }
