/*
  --------------
      BOTÕES
  --------------

  Arquivo específico para estilos e comportamentos de botões.
*/


/* ------- BOTÃO DEFAULT ------- */
%btn {
  @include fonte-miloot();
	// display: block;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @include hover() {
    opacity: 0.87;
  }
}

%acao-background {
  height: 40px;
  background-color: $cor_bg_botoes;
  color: $cor_texto_botoes;
  line-height: 30px;
}

%btn {
  &--acao {
    @extend %btn;
    @extend %acao-background;
    @include font-size(16px);
  }

  &--outline {
    @extend %btn;
    @include font-size(16px);
    border: 1px solid #fff;
    color: $cor_texto_botoes;

    @include hover() {
      background-color: #fff;
      color: $cor_textos;
    }
  }
}
