/*
  --------------
      atoms/typo
  --------------

  Arquivo específico para placeholders de textos.
*/

%texto-padrao {
  @include font-size(16px);
  @include fonte-miloot();
  color: $cor_textos;
  line-height: 25px;
}

%section-title {
  @include fonte-miloot-light();
  @include font-size(30px);
  color: $cor_textos;
}
