/*
  --------------
      FONTES
  --------------

  Arquivo específico para estilos e comportamentos de botões.
*/


/* ------- FAMÍLIA DA FONTE ------- */
@font-face {
  font-family: 'Gillsans';
  src: url('../fonts/749053956-Gill-Sans-MT.eot?v=1');
  src: url('../fonts/749053956-Gill-Sans-MT.eot?v=1') format('embedded-opentype'),
  url('../fonts/749053956-Gill-Sans-MT.woff?v=1') format('woff'),
  url('../fonts/749053956-Gill-Sans-MT.ttf?v=1') format('truetype'),
  url('../fonts/749053956-Gill-Sans-MT.svg?v=1#gillsans-light') format('svg');
}

@font-face {
  font-family: 'miloot';
  src: url('../fonts/miloot.eot?v=1');
  src: url('../fonts/miloot.eot?v=1') format('embedded-opentype'),
  url('../fonts/miloot.woff?v=1') format('woff'),
  url('../fonts/miloot.ttf?v=1') format('truetype'),
  url('../fonts/miloot.svg?v=1#miloot') format('svg');
}

@font-face {
  font-family: 'miloot-light';
  src: url('../fonts/miloot-light.eot?v=1');
  src: url('../fonts/miloot-light.eot?v=1') format('embedded-opentype'),
  url('../fonts/miloot-light.woff?v=1') format('woff'),
  url('../fonts/miloot-light.ttf?v=1') format('truetype'),
  url('../fonts/miloot-light.svg?v=1#miloot-light') format('svg');
}

@font-face {
  font-family: 'miloot-medi';
  src: url('../fonts/miloot-medi.eot?v=1');
  src: url('../fonts/miloot-medi.eot?v=1') format('embedded-opentype'),
  url('../fonts/miloot-medi.woff?v=1') format('woff'),
  url('../fonts/miloot-medi.ttf?v=1') format('truetype'),
  url('../fonts/miloot-medi.svg?v=1#miloot-medi') format('svg');
}

@font-face {
  font-family: 'miloot-exlig';
  src: url('../fonts/miloot-exlig.eot?v=1');
  src: url('../fonts/miloot-exlig.eot?v=1') format('embedded-opentype'),
  url('../fonts/miloot-exlig.woff?v=1') format('woff'),
  url('../fonts/miloot-exlig.ttf?v=1') format('truetype'),
  url('../fonts/miloot-exlig.svg?v=1#miloot-exlig') format('svg');
}

@font-face {
  font-family: 'myriad-pro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


/* ------- MIXIN DE FONTE - uso: @include font-NOME-DA-FONTE; ------- */
@mixin fonte-gilsans { font-family: 'Gillsans', 'Trebuchet MS', Arial, sans-serif; }

@mixin fonte-miloot { font-family: 'miloot', 'Trebuchet MS', Arial, sans-serif; }

@mixin fonte-miloot-light { font-family: 'miloot-light', 'Trebuchet MS', Arial, sans-serif; }

@mixin fonte-miloot-m { font-family: 'miloot-medi', 'Trebuchet MS', Arial, sans-serif; }

@mixin fonte-miloot-ex-l { font-family: 'miloot-exlig', 'Trebuchet MS', Arial, sans-serif; }

@mixin fonte-myriad { font-family: 'myriad-pro', 'Trebuchet MS', Arial, sans-serif; }
