/*
  --------------------
    MIXINS E HELPERS
  --------------------

  Arquivo específico para definição de Mixins e Helpers.
*/



/*
	HELPERS
*/


/* ------- FONTES - REM ------- */
@function rem( $target, $context: 16px ) {
	@return ( $target / $context ) * 1rem;
}



/* ------- FONTES - EM ------- */
@function em( $target, $context: 16 ) {
	@return ( $target / $context ) * 1em;
}



/* ------- COLUNAS ------- */
@function column( $number, $total: 12 ) {
	@return ( 100% * $number ) / $total;
}

@mixin make-column ($number) {
	width: column($number);
  float: left;
}

/*
	MIXINS
*/


/* ------- IMAGE REPLACMENT ------- */
@mixin ir {
	border: 0;
	background-color: transparent;
	font: 0/0 a;
	color: transparent;

	&:before {
		display: block;
		width: 0;
		height: 150%;
		content: "";
	}
}



/* ------- BREAKPOINTS - uso : @include breakpoint(mouse) { parametros: valores; } ------- */
@mixin breakpoint( $breakpoint ) {
	@if $breakpoint == mouse {
		@media only screen and (min-width: em(480)) { @content; }
	}

	@else if $breakpoint == dog {
		@media only screen and (min-width: em(768)) { @content; }
	}

	@else if $breakpoint == horse {
		@media only screen and (min-width: em(1024)) { @content; }
	}

	@else if $breakpoint == elephant {
		@media only screen and (min-width: em(1280)) { @content; }
	}

	@else if $breakpoint == whale {
		@media only screen and (min-width: em(1440)) { @content; }
	}

	@else if $breakpoint == chameleon {
		@media print, ( -o-min-device-pixel-ratio: 5/4 ), ( -webkit-min-device-pixel-ratio: 1.25 ), ( min-resolution: 120dpi ) { @content; }
	}

	@else {
		@media only screen and (min-width: $breakpoint) { @content; }
	}
}



/* ------- FONTES - uso: @include font-size(14px); ------- */
@mixin font-size($target, $context: 16px) {
    font-size: rem($target,$context);
}

/* ------- CLEARFIX - uso: @include clearfix; ------- */
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
}

/* ------- HOVER uso: @include hover { parametros: valores; } ------- */
@mixin hover {
	&:hover {
		.no-touch &,
		.no-js & {
			@content;
		}
	}
}

/* inclui borda no topo das sections */
@mixin section-border-top {
  border-top: 1px solid rgb(218, 216, 214);
}

/* inclui sombra no rodapé de um elemento */
@mixin linear-gradient-bottom {
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 250px;
    background-image: linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    content: '';
    opacity: .7;
    z-index: 1;
  }
}

/* inclui sombra no topo de um elemento */
@mixin linear-gradient-top {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 250px;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    content: '';
    opacity: 0.7;
    z-index: 1;
  }
}

/* inclui limite nos elementos */
@mixin limite {
	margin: 0 auto;
	max-width: $largura_max;
}
