// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icone-baloes-name: 'icone-baloes';
$icone-baloes-x: 26px;
$icone-baloes-y: 179px;
$icone-baloes-offset-x: -26px;
$icone-baloes-offset-y: -179px;
$icone-baloes-width: 28px;
$icone-baloes-height: 22px;
$icone-baloes-total-width: 214px;
$icone-baloes-total-height: 205px;
$icone-baloes-image: '../../../dist/images/sprites.png';
$icone-baloes: (26px, 179px, -26px, -179px, 28px, 22px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-baloes', );
$icone-blog-name: 'icone-blog';
$icone-blog-x: 99px;
$icone-blog-y: 92px;
$icone-blog-offset-x: -99px;
$icone-blog-offset-y: -92px;
$icone-blog-width: 51px;
$icone-blog-height: 17px;
$icone-blog-total-width: 214px;
$icone-blog-total-height: 205px;
$icone-blog-image: '../../../dist/images/sprites.png';
$icone-blog: (99px, 92px, -99px, -92px, 51px, 17px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-blog', );
$icone-envelope-name: 'icone-envelope';
$icone-envelope-x: 191px;
$icone-envelope-y: 61px;
$icone-envelope-offset-x: -191px;
$icone-envelope-offset-y: -61px;
$icone-envelope-width: 21px;
$icone-envelope-height: 17px;
$icone-envelope-total-width: 214px;
$icone-envelope-total-height: 205px;
$icone-envelope-image: '../../../dist/images/sprites.png';
$icone-envelope: (191px, 61px, -191px, -61px, 21px, 17px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-envelope', );
$icone-escola-name: 'icone-escola';
$icone-escola-x: 0px;
$icone-escola-y: 92px;
$icone-escola-offset-x: 0px;
$icone-escola-offset-y: -92px;
$icone-escola-width: 56px;
$icone-escola-height: 47px;
$icone-escola-total-width: 214px;
$icone-escola-total-height: 205px;
$icone-escola-image: '../../../dist/images/sprites.png';
$icone-escola: (0px, 92px, 0px, -92px, 56px, 47px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-escola', );
$icone-facebook-name: 'icone-facebook';
$icone-facebook-x: 91px;
$icone-facebook-y: 139px;
$icone-facebook-offset-x: -91px;
$icone-facebook-offset-y: -139px;
$icone-facebook-width: 26px;
$icone-facebook-height: 26px;
$icone-facebook-total-width: 214px;
$icone-facebook-total-height: 205px;
$icone-facebook-image: '../../../dist/images/sprites.png';
$icone-facebook: (91px, 139px, -91px, -139px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-facebook', );
$icone-flickr-name: 'icone-flickr';
$icone-flickr-x: 117px;
$icone-flickr-y: 139px;
$icone-flickr-offset-x: -117px;
$icone-flickr-offset-y: -139px;
$icone-flickr-width: 26px;
$icone-flickr-height: 26px;
$icone-flickr-total-width: 214px;
$icone-flickr-total-height: 205px;
$icone-flickr-image: '../../../dist/images/sprites.png';
$icone-flickr: (117px, 139px, -117px, -139px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-flickr', );
$icone-gastronomia-name: 'icone-gastronomia';
$icone-gastronomia-x: 0px;
$icone-gastronomia-y: 139px;
$icone-gastronomia-offset-x: 0px;
$icone-gastronomia-offset-y: -139px;
$icone-gastronomia-width: 39px;
$icone-gastronomia-height: 40px;
$icone-gastronomia-total-width: 214px;
$icone-gastronomia-total-height: 205px;
$icone-gastronomia-image: '../../../dist/images/sprites.png';
$icone-gastronomia: (0px, 139px, 0px, -139px, 39px, 40px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-gastronomia', );
$icone-gplus-name: 'icone-gplus';
$icone-gplus-x: 150px;
$icone-gplus-y: 53px;
$icone-gplus-offset-x: -150px;
$icone-gplus-offset-y: -53px;
$icone-gplus-width: 26px;
$icone-gplus-height: 26px;
$icone-gplus-total-width: 214px;
$icone-gplus-total-height: 205px;
$icone-gplus-image: '../../../dist/images/sprites.png';
$icone-gplus: (150px, 53px, -150px, -53px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-gplus', );
$icone-hamburguer-name: 'icone-hamburguer';
$icone-hamburguer-x: 191px;
$icone-hamburguer-y: 92px;
$icone-hamburguer-offset-x: -191px;
$icone-hamburguer-offset-y: -92px;
$icone-hamburguer-width: 22px;
$icone-hamburguer-height: 14px;
$icone-hamburguer-total-width: 214px;
$icone-hamburguer-total-height: 205px;
$icone-hamburguer-image: '../../../dist/images/sprites.png';
$icone-hamburguer: (191px, 92px, -191px, -92px, 22px, 14px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-hamburguer', );
$icone-hover-galeria-name: 'icone-hover-galeria';
$icone-hover-galeria-x: 191px;
$icone-hover-galeria-y: 106px;
$icone-hover-galeria-offset-x: -191px;
$icone-hover-galeria-offset-y: -106px;
$icone-hover-galeria-width: 18px;
$icone-hover-galeria-height: 14px;
$icone-hover-galeria-total-width: 214px;
$icone-hover-galeria-total-height: 205px;
$icone-hover-galeria-image: '../../../dist/images/sprites.png';
$icone-hover-galeria: (191px, 106px, -191px, -106px, 18px, 14px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-hover-galeria', );
$icone-instagram-name: 'icone-instagram';
$icone-instagram-x: 143px;
$icone-instagram-y: 139px;
$icone-instagram-offset-x: -143px;
$icone-instagram-offset-y: -139px;
$icone-instagram-width: 26px;
$icone-instagram-height: 26px;
$icone-instagram-total-width: 214px;
$icone-instagram-total-height: 205px;
$icone-instagram-image: '../../../dist/images/sprites.png';
$icone-instagram: (143px, 139px, -143px, -139px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-instagram', );
$icone-menu-name: 'icone-menu';
$icone-menu-x: 191px;
$icone-menu-y: 78px;
$icone-menu-offset-x: -191px;
$icone-menu-offset-y: -78px;
$icone-menu-width: 22px;
$icone-menu-height: 14px;
$icone-menu-total-width: 214px;
$icone-menu-total-height: 205px;
$icone-menu-image: '../../../dist/images/sprites.png';
$icone-menu: (191px, 78px, -191px, -78px, 22px, 14px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-menu', );
$icone-museu-name: 'icone-museu';
$icone-museu-x: 56px;
$icone-museu-y: 92px;
$icone-museu-offset-x: -56px;
$icone-museu-offset-y: -92px;
$icone-museu-width: 43px;
$icone-museu-height: 38px;
$icone-museu-total-width: 214px;
$icone-museu-total-height: 205px;
$icone-museu-image: '../../../dist/images/sprites.png';
$icone-museu: (56px, 92px, -56px, -92px, 43px, 38px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-museu', );
$icone-pinterest-name: 'icone-pinterest';
$icone-pinterest-x: 0px;
$icone-pinterest-y: 179px;
$icone-pinterest-offset-x: 0px;
$icone-pinterest-offset-y: -179px;
$icone-pinterest-width: 26px;
$icone-pinterest-height: 26px;
$icone-pinterest-total-width: 214px;
$icone-pinterest-total-height: 205px;
$icone-pinterest-image: '../../../dist/images/sprites.png';
$icone-pinterest: (0px, 179px, 0px, -179px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-pinterest', );
$icone-seta-name: 'icone-seta';
$icone-seta-x: 191px;
$icone-seta-y: 120px;
$icone-seta-offset-x: -191px;
$icone-seta-offset-y: -120px;
$icone-seta-width: 12px;
$icone-seta-height: 7px;
$icone-seta-total-width: 214px;
$icone-seta-total-height: 205px;
$icone-seta-image: '../../../dist/images/sprites.png';
$icone-seta: (191px, 120px, -191px, -120px, 12px, 7px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-seta', );
$icone-telefone-name: 'icone-telefone';
$icone-telefone-x: 191px;
$icone-telefone-y: 41px;
$icone-telefone-offset-x: -191px;
$icone-telefone-offset-y: -41px;
$icone-telefone-width: 19px;
$icone-telefone-height: 20px;
$icone-telefone-total-width: 214px;
$icone-telefone-total-height: 205px;
$icone-telefone-image: '../../../dist/images/sprites.png';
$icone-telefone: (191px, 41px, -191px, -41px, 19px, 20px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-telefone', );
$icone-transporte-name: 'icone-transporte';
$icone-transporte-x: 191px;
$icone-transporte-y: 0px;
$icone-transporte-offset-x: -191px;
$icone-transporte-offset-y: 0px;
$icone-transporte-width: 23px;
$icone-transporte-height: 41px;
$icone-transporte-total-width: 214px;
$icone-transporte-total-height: 205px;
$icone-transporte-image: '../../../dist/images/sprites.png';
$icone-transporte: (191px, 0px, -191px, 0px, 23px, 41px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-transporte', );
$icone-twitter-name: 'icone-twitter';
$icone-twitter-x: 65px;
$icone-twitter-y: 139px;
$icone-twitter-offset-x: -65px;
$icone-twitter-offset-y: -139px;
$icone-twitter-width: 26px;
$icone-twitter-height: 26px;
$icone-twitter-total-width: 214px;
$icone-twitter-total-height: 205px;
$icone-twitter-image: '../../../dist/images/sprites.png';
$icone-twitter: (65px, 139px, -65px, -139px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-twitter', );
$icone-youtube-name: 'icone-youtube';
$icone-youtube-x: 39px;
$icone-youtube-y: 139px;
$icone-youtube-offset-x: -39px;
$icone-youtube-offset-y: -139px;
$icone-youtube-width: 26px;
$icone-youtube-height: 26px;
$icone-youtube-total-width: 214px;
$icone-youtube-total-height: 205px;
$icone-youtube-image: '../../../dist/images/sprites.png';
$icone-youtube: (39px, 139px, -39px, -139px, 26px, 26px, 214px, 205px, '../../../dist/images/sprites.png', 'icone-youtube', );
$logo-escura-name: 'logo-escura';
$logo-escura-x: 0px;
$logo-escura-y: 0px;
$logo-escura-offset-x: 0px;
$logo-escura-offset-y: 0px;
$logo-escura-width: 191px;
$logo-escura-height: 53px;
$logo-escura-total-width: 214px;
$logo-escura-total-height: 205px;
$logo-escura-image: '../../../dist/images/sprites.png';
$logo-escura: (0px, 0px, 0px, 0px, 191px, 53px, 214px, 205px, '../../../dist/images/sprites.png', 'logo-escura', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 53px;
$logo-offset-x: 0px;
$logo-offset-y: -53px;
$logo-width: 150px;
$logo-height: 39px;
$logo-total-width: 214px;
$logo-total-height: 205px;
$logo-image: '../../../dist/images/sprites.png';
$logo: (0px, 53px, 0px, -53px, 150px, 39px, 214px, 205px, '../../../dist/images/sprites.png', 'logo', );
$spritesheet-width: 214px;
$spritesheet-height: 205px;
$spritesheet-image: '../../../dist/images/sprites.png';
$spritesheet-sprites: ($icone-baloes, $icone-blog, $icone-envelope, $icone-escola, $icone-facebook, $icone-flickr, $icone-gastronomia, $icone-gplus, $icone-hamburguer, $icone-hover-galeria, $icone-instagram, $icone-menu, $icone-museu, $icone-pinterest, $icone-seta, $icone-telefone, $icone-transporte, $icone-twitter, $icone-youtube, $logo-escura, $logo, );
$spritesheet: (214px, 205px, '../../../dist/images/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
