 /*
  --------------
    VARIÁVEIS
  --------------

  Arquivo específico para definição de constantes e variáveis.
*/



/* ------- PALETA DE CORES ------- */
/*
	x-dark
	dark *
	mid-dark
	base (default)
	mid-light
	light *
	x-light
*/
$cores: (
	branco: (
		base: #ffffff
	),

	preto: (
		base: #000000,
    light: #151515
	),

	cinza: (
		x-dark   : #414042,
		dark     : #808285,
		mid-dark : #b9babd,
		base     : #dddddd,
		mid-light: #e5e5e5
	),

	bege: (
		base   : #f0efeb
	),

	vermelho: (
		base: #cc262d
	),


);

@function cores( $cor, $tonalidade: 'base' ) {
	@return map-get( map-get( $cores, $cor ), $tonalidade );
}



/* ------- CORES BASE ------- */
$cor_textos: cores( cinza, x-dark ); // textos de conteúdo
$cor_textos_rodape: cores( preto, light ); // textos de conteúdo
$cor_body: cores( bege ); // cor do fundo do site
$cor_bg_botoes: cores( vermelho );
$cor_texto_botoes: cores( branco );
$cor_titulo_bg_colorido: cores( branco );
$cor_titulo: cores(branco);

$cor-bg-select: cores(cinza, x-dark);
$cor-texto-select: cores(branco);

$cor_bg_footer_principal: cores(branco);
$cor_bg_footer_contato: cores( preto , light);
$cor_texto_principal_footer_contato: cores( branco );
$cor_texto_principal_footer_copyright: cores( cinza , mid-dark);

$cor_bg_galeria: cores( preto );

$color-bg-contact-section: cores(branco);

/* ------- MEDIDAS E PESOS ------- */
$largura_max: 1200px;
$gutter     : 20px;
$num_colunas: 12;

$font-light    : 300;
$font-normal   : 400;
$font-semi-bold: 600;
$font-bold     : 700;
