/*
  --------------
  FOOTER
  --------------

  Arquivo destinado para blocos que serão reutilizados em mais de uma página do site.
*/



/* ------- FOOTER ------- */
.footer {
  border: 0;
}

  .footer__foto {
    border: 0;
  }

    .footer__foto--retrato {
      border: 1;
    }

.footer {}

  .redes-sociais {
    margin-bottom: 1px;
    background-color: $cor_bg_footer_principal;
  }

    .redes-sociais__lista {
      margin: 0 auto;
      text-align: center;
      list-style: none;
    }

      .redes-sociais__lista--item {
        display: inline-block;
        width: 10%;
        padding: 13px 0;
      }

    .redes-sociais__icone--facebook {
      @include sprite($icone-facebook);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--twitter {
      @include sprite ($icone-twitter);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--instagram {
      @include sprite ($icone-instagram);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--youtube {
      @include sprite ($icone-youtube);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--gplus {
      @include sprite ($icone-gplus);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--pinterest {
      @include sprite ($icone-pinterest);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--flickr {
      @include sprite ($icone-flickr);
      display: block;
      margin: 0 auto;
    }

    .redes-sociais__icone--blog {
      @include sprite ($icone-blog);
      display: block;
      margin: 0 auto;
    }

  .footer__principal {
    @extend %section-div;
    @include clearfix();
    background-color: $cor_bg_footer_principal;
  }

  	.footer__principal--endereco {
      @include breakpoint(horse) {
        float: left;
        width: 40%;
      }
    }

    	.footer__principal--endereco--logo {
        @include sprite ($logo-escura);
        margin-bottom: 20px;
      }

    	.footer__principal--endereco--texto {
        @include font-size(14px);
        @include fonte-myriad;
        text-align: left;
        color: $cor_textos;
        line-height: 20px;

        .texto__bloco {
          display: block;
        }
      }

    	.footer__principal--endereco--politica {
        list-style: none;

        li {
          display: inline-block;
          margin-right: 24px;

          a {
            @include font-size(14px);
            @include fonte-myriad;
            text-decoration: none;
            color: $cor_textos_rodape;
            line-height: 19px;
          }

          @include hover() {
            text-decoration: underline;
            color: $cor_textos_rodape;
          }
        }
      }

    	.footer__principal--listas {
        padding: 0 40px;

        @include breakpoint(horse) {
          float: left;
          width: 60%;
          padding: 0;
        }
      }

    .footer__principal--lista {
      @include make-column(4);

      dt {
        @include fonte-gilsans;
        @include font-size(16px);
        margin-bottom: 24px;
        text-transform: uppercase;
        color: $cor_textos_rodape;
      }

      dd ul {
        list-style: none;

        li {
          margin-bottom: 10px;

          a {
            @include fonte-myriad;
            @include font-size(14px);
            text-decoration: none;
            color: $cor_textos_rodape;
            line-height: 16px;

            @include hover() {
              text-decoration: underline;
              color: $cor_textos_rodape;
            }
          }

          .telefone {
            @include fonte-myriad;
            @include font-size(14px);
            text-decoration: none;
            color: $cor_textos_rodape;
            line-height: 16px;
          }
        }
      }

    }

	.footer__contato {
    height: 225px;
    background: $cor_bg_footer_contato url('../images/bg-rodape.jpg') left 0 no-repeat;
  }

    .footer__contato--telefone {
      @include breakpoint(horse) {
        @include make-column(5);
      }
    }

    .footer__contato--form {
      @include breakpoint(horse) {
        @include make-column(7);
      }
    }

    .footer__contato--copyright {
      @include make-column(12);
      margin-top: 15px;
      border-top: 1px solid $cor_texto_principal_footer_copyright;
      text-align: center;
      color: $cor_texto_principal_footer_copyright;

      p {
        padding: 15px 120px;
      }
    }
