/*
  --------------
  HEADER
  --------------

  Arquivo destinado para blocos que serão reutilizados em mais de uma página do site.
*/

/* ------- HEADER ------- */
.header {
  @include limite;
  position: relative;
  width: 100%;
  border: 0;
}

  .header__navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: em(70);
    transition: all 0.3s linear;
    z-index: 11;
  }

    .header__navbar--logo{
      float: left;
      display: block;
      margin: 15px 0;
      cursor: pointer;
    }

    .header__navbar--menu {
      float: right;
    }


  .header__banner {
    @include linear-gradient-bottom;
    @include linear-gradient-top;
    position: relative;
    top: 0;
    display: block;
    max-width: 100%;
  }

    .header__banner--imagem {
      width: 100%;
      display: block;
    }

  .header__titulo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-transform: uppercase;
    line-height: 27px;
    z-index: 5;

    @include breakpoint(dog) {
      bottom: 60px;
      left: 30px;
      line-height: 26px;
    }

    @include breakpoint(horse) {
      bottom: 80px;
      left: 80px;
      line-height: 33px;
    }
  }

    .header__titulo--campanha {
      @include fonte-miloot-ex-l();
      @include font-size(26px);
      color: $cor_titulo;

      @include breakpoint(horse) {
        @include font-size(35px);
      }
    }

    .header__titulo--auxiliar {
      @include fonte-miloot-light();
      @include font-size(14px);
      color: $cor_titulo;

      @include breakpoint(horse) {
        @include font-size(17px);
      }
    }

  .header__form {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    padding: 25px;
    background-color: rgba(91, 91, 91, 0.678);
    z-index: 10;

    @include breakpoint(dog) {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 400px;
        margin: 0;
        padding: 25px;
    }

    @include breakpoint(horse) {
        position: absolute;
        width: 437px;
        margin: 0;
        padding: 25px;
    }
  }

    .header__form--titulo {
      @include fonte-miloot();
      @include font-size(19px);
      position: relative;

      a {
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: $cor_titulo_bg_colorido;
        line-height: 1.111;
      }
    }

      .header__form--titulo--seta {
        @include sprite($icone-seta);
        position: absolute;
        right: 0;
        top: 5px;
        transition: all 1s linear;

        @include breakpoint(dog) {
          transform: rotate(540deg);
        }
      }

    .header__form--button {
      @include font-size(16px);
      @include fonte-miloot();
      width: 100%;
      background-color: rgb(204, 38, 45);
      text-transform: uppercase;
      color: $cor_texto_botoes;
      line-height: 1.45;
    }

  /* usado para animar a seta do form */
  .header__form--opened .header__form--titulo .header__form--titulo--seta {
    transform: rotate(540deg);

    @include breakpoint(dog) {
      transform: rotate(0deg);
    }
  }

.header__nav {
    border: 0;
  }

    .header__nav--aberto {
    }
