/* ------- CIDADE SELECIONADA ------- */
.cidade-selecionada {
  @extend %section-div;
  @include section-border-top;
  @include limite;
}

.cidade-selecionada__header {
  @include clearfix();
}

.cidade-selecionada__nome {
  @include breakpoint(horse) {
    @include make-column(4);
  }
}

.cidade-selecionada__nome--titulo {
  @extend %section-title;
  margin-bottom: 15px;
}
.cidade-selecionada__nome--select {}

.cidade-selecionada__descricao {
  @extend %texto-padrao;

  @include breakpoint(horse) {
    @include make-column(8);
    padding-left: 25px;
  }
}

/* ------- LISTA DE IMOVEIS DA CIDADE SELECIONADA ------- */
.imoveis {
  @include clearfix();
}

.imoveis__imovel {
  position: relative;
  margin:0 auto;
  max-width: 593px;


  @include breakpoint(horse) {
    @include make-column(6);
    margin-bottom: 30px;

    &:nth-child(odd) {
      float: left;
      padding-right: 10px;
    }
    &:nth-child(even) {
      float: right;
      padding-left: 10px;
    }
  }

  @include hover() {
    .imovel__detalhe--preco {
      opacity: 1;
      max-height: 500px;
      visibility: visible;
    }
  }
}

  .imoveis__imovel--imagem {
    @include linear-gradient-bottom;
    position: relative;

    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  .imovel__detalhe {
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: 5;
  }
    .imovel__detalhe--bairro {
      @include fonte-miloot;
      @include font-size(18px);
      text-transform: uppercase;
      color: #fff;
    }

    .imovel__detalhe--nome {
      @include fonte-miloot;
      @include font-size(30px);
      text-transform: uppercase;
      color: #fff;
    }

    .imovel__detalhe--caracteristicas {

      li {
        @include fonte-miloot;
        @include font-size(18px);
        display: inline;
        margin-right: .5em;
        text-transform: uppercase;
        color: #fff;

        &:not(:first-child):before {
          margin-right: .5em;
          content: '\2022';
        }
      }
    }

    .imovel__detalhe--preco {
      @include fonte-miloot;
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #fff;
      text-transform: uppercase;
      color: #fff;
      transition: all .3s linear;

      @include breakpoint(dog) {
        opacity: 0;
        max-height: 0;
        visibility: hidden;
      }

      .preco__texto {
        @include font-size(18px);
        display: block;
      }

      .preco__valor {
        @include font-size(30px);
        display: block;
      }

      .preco__botoes {
        margin-top: 10px;

        .preco__botoes--ver-mais {
          @extend %btn--acao;
          display: inline-block;
          width: 215px;
          height: 30px;
          margin-right: 10px;
          text-align: center;
          text-transform: uppercase;
          line-height: 20px;
        }

        .preco__botoes--corretor {
          @extend %btn--outline;
          display: inline-block;
          width: 215px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }




/* ------- OUTROS IMOVEIS NA CIDADE SELECIONADA ------- */
.outros-imoveis {
  @extend %section-div;
  @include section-border-top;
  @include limite;
}

  .outros-imoveis__titulo {
    @extend %section-title;
  }
  .outros-imoveis__descricao {
    @extend %texto-padrao;
  }
  .outros-imoveis__lista {}
    .outros-imoveis__lista--imovel {
      @include linear-gradient-bottom;
      position: relative;

      img {
        display: block;
        width: 100%;
      }

      @include breakpoint(horse) {
        @include make-column(4);
      }
    }
      .outros-imoveis__lista--imovel--detalhe {
        position: absolute;
        bottom: 30px;
        left: 20px;
        z-index: 5;

        .imovel__bairro {
          @extend %texto-padrao;
          text-transform: uppercase;
          color: #fff;
        }
        .imovel__nome {
          @include fonte-miloot;
          @include font-size(25px);
          text-transform: uppercase;
          color: $cor_titulo_bg_colorido;
        }
      }

/* ------- GALERIA DE FOTOS ------- */
.galeria {
  @extend %section-div;
  @include section-border-top;
  @include limite;
}

  .galeria__titulo {
    @extend %section-title;

    @include breakpoint(horse) {
      @include make-column(4);
    }
  }

  .galeria__fotos {
    @include breakpoint(horse) {
      @include make-column(8);
    }
  }

    .galeria__fotos--foto {
      @include make-column(6);
      position: relative;
      text-decoration: none;
      overflow: hidden;

      @include breakpoint(horse) {
        @include make-column(3);
        margin-bottom: 5px;
        padding-left: 5px;
      }

      .galeria__imagem {
        display: block;
        width: 100%;
      }

      .galeria__imagem--overlay {
        position: absolute;
        top: 100%;
        left: 0;
        width:100%;
        height: 100%;
        margin-left: 5px;
        background: #000;
        background-image: url('../images/galeria_bg-hover.jpg');
        opacity: 0;
        transition: all .15s linear;
      }

      .galeria__imagem--texto-overlay {
        position: absolute;
        bottom: -100%;
        right: 10px;
        opacity: 0;
        transition: all .15s linear;

        span {
          @include fonte-miloot-light();
          @include font-size(12px);
          margin-right: 26px;
          text-transform: uppercase;
          color: #fff;
        }

        .galeria__imagem--texto-overlay--icone {
          @include sprite($icone-hover-galeria);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      @include hover() {
        .galeria__imagem--overlay {
          opacity: 1;
          top: 0;
        }

        .galeria__imagem--texto-overlay {
          bottom: 10px;
          opacity: 1;
        }
      }

    }

  .galeria__veja-mais {
    float: right;
  }

    .galeria__veja-mais--btn {
      @extend %btn--acao;
    }

  /* ------- CONHECA A CIDADE ------- */
.conheca {
  @extend %section-div;
  @include section-border-top;
  @include limite;
}
  .conheca__banner {
    position: relative;
  }

    .conheca__banner--imagem {
      @include linear-gradient-bottom;
      position: relative;
      top: 0;
      display: block;
      max-width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .conheca__banner--titulo {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      z-index: 10;

      h2 {
        @include fonte-miloot-light;
        @include font-size(45px);
        color: #ffffff;
      }

      p {
        @include fonte-miloot-light;
        @include font-size(30px);
        position: relative;
        font-style: italic;
        color: #ffffff;

        .aspas {
          font-family: Helvetica, sans-serif;
          font-weight: bold;
        }
      }

      a {
        display: inline-block;
      }
    }

    .conheca__banner--titulo--saiba-mais {
      @extend %btn--acao;
      @include fonte-miloot;
      display: block;
      margin: 0 auto;
    }

  .conheca__conteudo {
    @include clearfix;
    background-color: cores( branco );
  }

    .conheca__conteudo--descricao {
      padding: 60px 0 0;

      h3 {
        @include fonte-miloot();
        @include font-size(18px);
        margin-bottom: 35px;
        text-transform: uppercase;
      }

      @include breakpoint(horse) {
        @include make-column(6);
        padding-left: 30px;
      }
    }


      .conheca__conteudo--descricao--texto {
        @include fonte-miloot();
        @include font-size(18px);
        margin-bottom: 50px;
        line-height: 18px * 1.4;
      }

      .conheca__conteudo--descricao--icones {}

        .lista-diferenciais {
          list-style: none;
        }

          .lista-diferenciais__item {
            @include fonte-miloot-m();
            @include font-size(15px);
            display: inline-block;
            color: #d2232a;

            @include breakpoint(horse) {
              margin-right: 40px;
            }
          }

            .lista-diferenciais__item--icone {
              display: block;
              margin: 0 auto 14px;

              &.museus {
                @include sprite($icone-museu);
                display: block;
              }

              &.transporte {
                @include sprite($icone-transporte);
                display: block;
              }

              &.gastronomia {
                @include sprite($icone-gastronomia);
                display: block;
              }

              &.escola {
                @include sprite($icone-escola);
                display: block;
              }
            }


    .conheca__conteudo--mapa {
      @include make-column(12);
      position: relative;

      @include breakpoint(horse) {
        @include make-column(6);

        &:before {
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          box-shadow: inset 50px 0 70px 0 $color-bg-contact-section;
          content: '';
          pointer-events: none;
          z-index: 10;
        }
      }
    }

    .google-map {
      display: block;
      width: 100%;
      height: 455px;
      background-color: #ccc;
    }

/* ------- VIDEO ------- */
.vd {
  @extend %section-div;
  @include section-border-top;
  @include limite;
}

  .vd__titulo {
    @extend %section-title;
  }

  .vd__descricao {
    @extend %texto-padrao;
  }

  .vd__container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;

    .vd__container--youtube {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
