/*
  --------------
  ELEMENTOS
  --------------

  Arquivo destinado para blocos que serão reutilizados em mais de uma página do site.
*/



/* ------- GALERIA ------- */
.galeria {
  border: 0;
}

  .galeria__foto {
    border: 0;
  }

    .galeria__foto--retrato {
      border: 1;
    }


.gallery__active {
  overflow: hidden;
}

.gallery {
  display: none;
}

  .gallery__opened {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $cor_bg_galeria;
    align-items: center;
    opacity: 0.95;
    z-index: 999;
  }

  .gallery__image {
    display: block;
    margin: 0 auto;
  }

  .gallery__close {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
  }

  .gallery__left {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .gallery__right {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    cursor: pointer;
    transform: translateY(-50%);
  }

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

  .select__element {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
    background: $cor-bg-select;
    color: $cor-texto-select;
    cursor: pointer;
    outline: 0;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    @include hover() {
      opacity: 0.9;
      transition: 0.3s;
    }

    &:focus {
      opacity: 0.9;
      transition: 0.3s;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $cor-texto-select transparent transparent transparent;
    pointer-events: none;
  }

.select2-container--default {
  max-width: 100%;

  .select2-selection--single {
    display: flex;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: $cor-bg-select;
    align-items: center;

    .select2-selection__rendered{
      color: $cor-texto-select;
    }

    .select2-selection__arrow {
      top: 0;
      right: 8px;
      height: 40px;

      b {
        border-color: $cor-texto-select transparent transparent;
      }
    }
  }

  .select2-dropdown {
    border: none;
    background-color: lighten($cor-bg-select, 5%);
    color: darken($cor-texto-select, 5%);

    .select2-results__option[aria-selected="true"] {
      background-color: lighten($cor-bg-select, 15%);
      color: darken($cor-texto-select, 15%);
    }

    .select2-results__option--highlighted {
      background-color: lighten($cor-bg-select, 10%) !important;
      color: darken($cor-texto-select, 10%) !important;
    }
  }
}
