/*
  --------------
  FOOTER
  --------------

  Arquivo destinado para blocos padronizáveis de todo site como: Titulos, formatações de texto, grids e links, por exemplo.
*/



/* ------- PADRÕES ------- */
html {
	// @include font-NOME-DA-FONTE;
	background-color: $cor_body;
	color: $cor_textos;
}

body {
	@include font-size(14px);
  margin: 0 auto;
	// max-width: $largura_max;
}



/* ------- TIPOGRAFIA ------- */
h1,h2,h3,h4,h5,h6 {
	 @include fonte-miloot();
}


p {
	margin: 0 0 $gutter;
}



/* ------- LINKS ------- */
// a {
// 	color: $cor_textos;
//
// 	@include hover {
// 		color: cores( cinza );
// 	}
// }


/* ------- WRAPPER - Grid ------- */
.wrapper {
	@include clearfix; // _helpers_mixins.scss
	margin: 0 auto;
	padding: 0 $gutter;
  max-width: $largura_max;

	@include breakpoint( mouse ) { // _helpers_mixins.scss
		padding: 0 ( 2 * $gutter );
	}
}

/* ------- COLUNAS - Placeholder ------- */
@for $i from 1 through $num_colunas {
	%column-#{$i} {
		float: left;
		width: column($i);
	}
}


%section-div {
  @include clearfix();
  padding: 20px 0;

  @include breakpoint(horse) {
    padding: 50px 0;
  }
}
